.top-bar {
  height: 10vh;
  background-color: #161b22;
  display: flex;
}

.top-bar__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-bar__title img {
  padding: 2vw;
}

.top-bar__title h1 {
  color: white;
}
